# Compiled class files
*.class

# JAR, WAR, and EAR files
*.jar
*.war
*.ear

# IDE-specific files and directories
.classpath
.project
.settings/
.idea/
*.iml

# Maven-specific files and directories
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
pom.xml.bak
release.properties
dependency-reduced-pom.xml
.mvn/

